body {
  margin: 0;
  font-family: sans-serif;
  overflow: none;
}

h1 {
  font-size: 3em;
}

p {
  font-size: 1.5em;
}

img {
  max-width: 70%;
  height: auto;
}

.container {
  padding: 1% 15%;
}

.hidden {
  display: none;
}

#zMenu {
  position: fixed;
  top: 0;
  right: -8%;
  width: 60%;
  height: 100vh;
  animation: slideIn 1s;
  background: #333;
  color: #fff;
}


@media only screen and (max-width: 375px) {
  h1 {
    font-size: 3vh;
  }

  p {
    font-size: 2.5vh;
  }

  img {
    max-width: 85%;
    height: auto;
  }

  .container {
    padding: 1% 8%;
  }
}

@keyframes slideIn {
  from {
    position: relative;
    right: -80%;
  }

  to {
    position: fixed;
    top: 0;
    right: -8%;
  }
}