body { margin: 0; font-family: sans-serif;
  background-image: url('https://i.redd.it/7ns2i4zs6c911.png');
  background-size: cover;
}

.hidden {
  /* display: none; */
}

.ready-banner-container h1 {
  background: -webkit-linear-gradient(right, red, orange);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 12vh;
  text-transform: uppercase;
  text-align: center;
  font-weight: 800;
  transform: skew(-20deg, -2deg);
  word-spacing: -20px;
  margin: 0;
}

/* h1 > small:nth-child(1) {
  font-size: 13vh;
} */

h1 > small:nth-child(2) {
  font-size: 8vh;
}

/* h1 > span {
  font-size: 17vh;
} */

.banner-bg {
  position: fixed;
  left: -30%;
  background-color: #e5e5e5;
  transform: perspective(200px) rotateY(-15deg);
  width: 100%;
  padding: 0.7% 0;
}

.banner-stripe {
  background: red;
}

.banner-text {
  margin: 0 auto;
  background: #333;
  width: 70%;
}